ul {
    list-style-type: none;
} 

form {
    background-color:rgb(170, 152, 163) !important;
    margin-top: 5%;
    color :white
}
.form-group{
    height: 20%;
    width: 20%;
}
.form-control{
    background-color: #98a4b1e3 !important;
    border-color: #2c2e30e3 !important;
    color :white
}

.montant,.password,.payement{
    color:rgb(170, 152, 163)

}
.form-controll{
    background-color: #563d7c !important;
    color: #ffe484;
    width: 100%;
    /* height: 75%; */
    /* display: block; */
    font-weight: 500;

    line-height: 250%;
    text-transform: uppercase;
    cursor: pointer;
    font-style: oblique;

    /* text-align: center; */
    font-size: 75%;
    font-weight: 600;
}

button{
    height: 20%;
    width: 100%;
    background-color: #98a4b1e3 !important;
    border-color: #2c2e30e3 !important;
}

#error-nwl {
  opacity: 0;
  color: gray;
  transition: opacity 0.3s ease-in-out;
}

body {
    background-color: #d1d3d4e3!important;
    
}

.label-date,.jour,.mont,.voit,.voiture,.foot{
    color: white
}
.searchbtn,.btn-primary{
    background-color: #563d7c !important;
    color: #ffe484;
    width: 100%;
    /* height: 75%; */
    /* display: block; */
    font-weight: 500;
    border-color: #ffe484;

    line-height: 250%;
    text-transform: uppercase;
    cursor: pointer;
    font-style: oblique;

    /* text-align: center; */
    font-size: 75%;
    font-weight: 600;
    /* text-shadow: 0px 1px 0px rgba(252, 214, 83, 0.75); */
    /* float: right; */
    /* font-family: 'Open Sans', sans-serif; */
    /* padding-bottom: 3%;
    padding-top: 3% */
}

.title{
    font-style: oblique !important;
    color: mediumorchid;
}
.container{
    background-color: #563d7c;
    /* display: flex; */
}

#catalogue,#formm{
    background-color:rgb(170, 152, 163) !important;
}
.final{
    /* margin:10%; */
    width: 25%;
    display: flex;
}

 
#comments{
    height:  100%;
    width: 230%;
    padding-bottom:50%;
    padding-right: 10%
}

.info{
    width: 300%;
}


.infooo{
    width: 30%;
    height: 20%
}
.info-text{
    width: 230%
}

#send,#Reset{
    height: 100%

}


/* #payer{
    height: 3%;
    width: 22%

} */

#inputPassword4{
    width:110%
}
.payement{
    margin-left: 35%;

    /* margin-right: -30%; */
    /* margin-bottom: 20%; */

    margin-top: 30%
}